.usage

  .usage__copy
    p.usage__note Directive Markup

    p.usage__snippet
      |
      |&lt;carousel images="&lt;array&gt;" autoplay="&lt;boolean&gt;" speed="&lt;ms&gt;"/&gt;
      |

    p.usage__note Model Reference

    pre.usage__snippet {{gallery | json}}
