doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Image Carousel
    base(href="/")
    link(rel="stylesheet" href="assets/css/style.css")
  body(ng-app="app")
    div(ui-view)
    script(src="assets/js/bundle.min.js")
